* {
  margin: 0;
  padding: 0;
}

label {
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 30px;
}

/* p {
  color: rgb(20, 69, 53);
  font-size: 20px;
  background-color: antiquewhite;
}

#intro {
  color: red
} */

nav {
  background-color: black;
  text-align: center;
  font-size: 0;
}

nav a {
  color: aliceblue;
  text-decoration: dotted;
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  background-color: black;
  transition: 0.5s;
}

nav a:hover {
  background-color: orange
}

div {
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid black;
  padding: 10px;
  font-size: 30px;
  line-height: 1;
}

ol {
  margin-left: 30px;
  padding-left: 30px;
  list-style: upper-alpha;
}

ul {
  margin-left: 30px;
  padding-left: 30px;
  list-style: disc;
}

dl {
  margin-left: 10px;
  padding-left: 10px;
}

dd {
  margin-left: 20px;
  padding-left: 20px;
}