.menu{
  background-color: #0e7e3d;
  text-align: center;
  font-size: 0;
}
.menu a{
  background-color: #0e0e7e;
  color: azure;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
}

.menu a:hover{
  background-color: red;
}

label {
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 30px;
}

.container {
  width: 960px;
  background-color: blanchedalmond;
  margin: auto;
}

.col {
  width: 280px;
  margin: 10px;
  padding: 10px;
  height: 300px;
  background-color: #2b3bce;
  float: left;
}

.col img{
  width: 100%;
}

.clearfix {
  clear: both;
  height: 20px;
  background-color: aquamarine;
}

.cb {
  background-color: yellow;
  width: 300px;
  border: 10px solid brown;
  padding: 20px;
}

.box {
  width: 600px;
  border: 10px solid black;
  background-color: #eee;
  margin: 10px;
  padding: 10px;
  float: left;
}

/* 為甚麼沒加float的時候會被蓋掉呢 */

.column {
  width: 158px;
  background-color: #aaa;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.float {
  float: left;
  margin: 0px 20px;
}

.cb2{
  display: inline;
}

h2{
  display: inline;
}

.tanuki{
  display: inline;
}

.potato{
  display: inline-block;
  background-color: #aaa;
  width: 100px;
  height: 50px;
  padding: 20px;
}

#eatpotatofries{
  width: 300px;
  background-color: orchid;
  border: 10px solid  orange;
  padding: 10px;
  box-sizing: border-box;
}


.wrap{
  width: 960px;
  margin: auto;
  background-color: darkseagreen;
}

.clearfix2{
  width: 100%;
  clear: both;
}

.item{
  width: 300px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: deeppink;
  border: 3px double black;
  float: left;
}

/* 會不見、被蓋住 */
.tanukidance{
  width: 300px;
  height: 100px;
  background-color:peru;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.6;
}