* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: PT Mono;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav.navBar {
  height: auto;
  width: 100%;
  background-color: black;
  text-align: left;
  position: fixed;
  top:0;
  margin-bottom: 100px;
}

nav.navBar a {
  color: aliceblue;
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
  vertical-align: middle;
  text-decoration: none;
  transition: 0.1s;
}

nav.navBar a:hover {
  background-color: orange;
}

nav.practiceLink a {
  font-size: 20px;
  padding-left: 10px;
  text-decoration: none;
}

nav.practiceLink a:hover {
  color: crimson;
}

.source{
  width: 700px;
  height: 40px;
  background-color: rgb(27, 99, 188);
  color: white;

}

.source p{
padding: 10px;
}

/* 為啥不能用 vertical:middle ??*/

.note {
  width: 700px;
  height: 40px;
  background-color: rgb(145, 183, 230);
}

.note p{
  padding: 10px;
}